<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.italankin.lnch">

    <permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <application
        android:name=".LauncherApp"
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LauncherTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".feature.home.HomeActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.settings_root.SettingsActivity"
            android:label="@string/title_settings_lnch"
            android:launchMode="singleInstance"
            android:theme="@style/PreferenceTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.settings_wallpaper.overlay.WallpaperOverlayActivity"
            android:label=""
            android:theme="@style/OverlayTheme" />

        <activity
            android:name=".feature.settings_item.ItemLookActivity"
            android:label="@string/title_settings_home_item_look"
            android:theme="@style/OverlayTheme" />

        <receiver
            android:name=".feature.receiver.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".feature.receiver.StartShortcutReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.italankin.lnch.action.START_SHORTCUT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
